/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {


    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/fastqc/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: '.*:ALIGNMENT:BWAMEM2_MEM' {
        ext.args = { " -Y -K 100000000  -R ${meta.readgroup} " }
    }

    withName: GATK4_MARKDUPLICATES {
        ext.args = '--REMOVE_DUPLICATES true --CREATE_INDEX true --VALIDATION_STRINGENCY SILENT'
        ext.prefix = { "${meta.id}_dedup.bam" }
    }

    withName: '.*:UMI_PROCESSING:SORTBAM' {
        ext.prefix = { "${meta.id}_consensus_mapped.bam" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:ALIGNMENT:MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/alignment/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PICARD_COLLECTWGSMETRICS {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/qc/picard/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FGBIO_FILTERCONSENSUSREADS {
        ext.args = '--max-read-error-rate 1 --reverse-per-base-tags true --require-single-strand-agreement true '
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "FASTQTOBAM" {
        ext.prefix = { "${meta.id}_unaligned" }
    }

}
