params {
    genomes {
        'GRCh37' {
            fasta         = "${params.ref_genomes_base}/GRCh37/genome/human_g1k_v37_decoy.fasta"
            fai           = "${params.ref_genomes_base}/GRCh37/genome/human_g1k_v37_decoy.fasta.fai"
            dict          = "${params.ref_genomes_base}/GRCh37/genome/human_g1k_v37_decoy.fasta.dict"
            bwamem2_index = "${params.ref_genomes_base}/GRCh37/bwamem2_index/human_g1k_v37_decoy"
        }
    }
}
